* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #171718;
  color: #fcf3cf;
  font-family: "Noto Serif", serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header {
  width: 100%;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #fcf3cf;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #fcf3cf;
  margin: 10px 0;
}

#resenias {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 30px;
}

.card {
  width: 250px;
  background-color: #171718;
  border-radius: 10px;
  color: #fcf3cf;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 4px 4px 10px 0px rgba(255, 255, 255, 0.3);
}

.shortLine {
  width: 50px;
  height: 1px;
  background-color: #fcf3cf;
  margin: 10px 0;
}

#contacto form {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.inlineForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inlineForm input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.inlineForm textarea {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Noto Serif", serif;
  font-size: 14px;
  color: #5d6d7e;
  font-style: italic;
}

button {
  margin: 0 auto;
  width: 100px;
  padding: 15px;
  cursor: pointer;
}

footer {
  width: 100vw;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.name {
  font-family: "Satisfy", cursive;
  font-size: 30px;
}

.redes a {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.redes i {
  font-size: 26px;
  padding: 15px;
  border-radius: 10px;
  background-color: #171718;
  color: #fcf3cf;
  transition: all 0.3s ease;
}

.redes i:hover {
  background-color: #fcf3cf;
  color: #171718;
  transform: scale(1);
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }

  #contacto form {
    width: 300px;
  }

  .inlineForm input {
    width: 250px;
  }

  .inlineForm textarea {
    width: 250px;
  }
}
